@*the UserPageService is added in program.cs *@
@inject UserPageService UserService
@inject HealthContext HealthContext
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@using System.Security.Claims
@using HealthCare.Domain.Models
@using HealthCare.Data
@page "/personal-dashboard"

<AuthorizeView>
    <Authorized>
        <div class="container mt-4">
            <h3>Hello, @currentUser.Account.FirstName @currentUser.Account.LastName!</h3>

            @if (currentUser != null)
            {
                <p><strong>User Information:</strong></p>
                <div>
                    <p><strong>Name:</strong> @currentUser.Account.FirstName @currentUser.Account.LastName</p>
                    <p><strong>Age:</strong> @currentUser.Account.Age</p>
                    <p><strong>Email:</strong> @currentUser.Account.Email</p>
                    <p><strong>Phone number:</strong> @currentUser.Account.PhoneNumber</p>
                    <p><strong>Appointments:</strong> <NavLink href="/appointment">View Appointments</NavLink> </p>
                    <button class="btn btn-primary" @onclick="EditUser">Edit</button>
                </div>
            }
            else
            {
                <p class="text-danger">No user information found for the current user.</p>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this content.</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private Patient currentUser;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            // Retrieve data for the currently authenticated user
            currentUser = UserService.GetPatientById(user.FindFirstValue(ClaimTypes.NameIdentifier));
        }
    }

    private void EditUser()
    {
        // Navigate to the edit page
        NavigationManager.NavigateTo("/edit-user", true);
    }
}
